<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-item><i class="fas fa-transgender-alt"></i></ion-item>

      <ion-buttons slot="primary">
        <iframe-button *ngFor="let item of vlcdata"
                       [frameName]="item.ipAddress"
                       [buttonText]="item.buttenName"
                       [isHidden]="item.hide"
                       [awesomeLogo]="item.icon"
                       (iframeToggle)="toggle(item)"/>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let item of vlcdata; index as i " class="frame-holder">
    <app-iframe class="col-xs-6 col-sm-5 col-md-4"
                [hidden]="item.hide"
                [frameName]="item.ipAddress"
                [hideFrame]="item.hide"
                [url]="item.ipAddress">
        <div class="note" *ngIf="!item.hide">{{getPcName(item.ipAddress)}}</div>
    </app-iframe>
  </div>
</ion-content>





