<main class="main">
  <div class="content">
    <div class="left-side">
      <img src = "logo.svg" alt="My Happy SVG"/>
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <app-constants-list></app-constants-list>
      <app-latex-display></app-latex-display>
<!--      <calc-home></calc-home>-->
      <app-latex-paragraph [inputString]="'Hello there I have some math homework for you: $x^2 + y^2 = ?$'"></app-latex-paragraph>
      <app-latex-paragraph [inputString]="'$$\'x=\\frac{-b\\pm\\\\sqrt{b^2-4ac}}{2a}\'$$'"></app-latex-paragraph>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <app-constants-list (constantSelected)="onConstantSelected($event, 'mass')"></app-constants-list>
      <app-constants-list (constantSelected)="onConstantSelected($event, 'speedOfLight')"></app-constants-list>
<!--      <app-calculator [selectedConstants]="selectedConstants"></app-calculator>-->
      <ion-app>
        <ion-router-outlet></ion-router-outlet>
      </ion-app>

      ★⌒ Ｙ⌒Ｙ⌒Ｙ⌒Ｙ⌒ ヾ(oﾟДﾟ)ﾉ

      (o^-')b

      ᕙ(▀̿̿ĺ̯̿̿▀̿ ̿) ᕗ

      ٩( ᗒᗨᗕ )۶

      Σ(-᷅_-᷄๑)

      🍔ԅ( ͒ ۝ ͒ )

      ♡(ू•‧̫•ू⑅)

      ( ͡~ ͜ʖ ͡° )

      (ノಠ益ಠ)ノ彡┻━┻

      ༼;´༎ຶ ۝ ༎ຶ༽

      ( ͡°з ͡°)

      └(・。・)┘

      (〜^∇^)〜

      ¯\_(:|)_/¯

      ¯\_( ͠° ͟ʖ ͠°)_/¯

      ( ͡°- ͡°)

      (∿°○°)∿ ︵ ǝʌol

      乁( ͡ಠ ʖ̯ ͡ಠ)ㄏ

      ♡(ﾐ ᵕ̣̣̣̣̣̣ ﻌ ᵕ̣̣̣̣̣̣ ﾐ)ﾉ

      ಠ ಠ

      (༎ຶ⌑༎ຶ)
    </div>
  </div>
</main>



<router-outlet />
