<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <main class="main">
    <div class="content">
      <div class="left-side">
        <img src = "logo.svg" alt="My Happy SVG"/>
        <h1>Hello, {{ title }}</h1>
        <p>yupp! Your app is running. 🎉</p>
<!--        <app-constants-list></app-constants-list>-->

<!--        <app-latex-paragraph [inputString]="'Inline: $x^2 + y^2 = ?$'"></app-latex-paragraph>-->
<!--        <app-latex-paragraph [inputString]="'$$\'x=\\frac{-b\\pm\\\\sqrt{b^2-4ac}}{2a}\'$$'"></app-latex-paragraph>-->
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
<!--        <app-constants-list (constantSelected)="onConstantSelected($event, 'mass')"></app-constants-list>-->
<!--        <app-constants-list (constantSelected)="onConstantSelected($event, 'speedOfLight')"></app-constants-list>-->
        <!--      <app-calculator [selectedConstants]="selectedConstants"></app-calculator>-->

        <!--      <dialog-overview-example-dialog></dialog-overview-example-dialog>-->
        <!--            <calc-home></calc-home>-->


        ★⌒ Ｙ⌒Ｙ⌒Ｙ⌒Ｙ⌒ ヾ(oﾟДﾟ)ﾉ

        (o^-')b

        ᕙ(▀̿̿ĺ̯̿̿▀̿ ̿) ᕗ

        ٩( ᗒᗨᗕ )۶

        Σ(-᷅_-᷄๑)

        🍔ԅ( ͒ ۝ ͒ )

        ♡(ू•‧̫•ू⑅)

        ( ͡~ ͜ʖ ͡° )

        (ノಠ益ಠ)ノ彡┻━┻

        ༼;´༎ຶ ۝ ༎ຶ༽

        ( ͡°з ͡°)

        └(・。・)┘

        (〜^∇^)〜

        ¯\_(:|)_/¯

        ¯\_( ͠° ͟ʖ ͠°)_/¯

        ( ͡°- ͡°)

        (∿°○°)∿ ︵ ǝʌol

        乁( ͡ಠ ʖ̯ ͡ಠ)ㄏ

        ♡(ﾐ ᵕ̣̣̣̣̣̣ ﻌ ᵕ̣̣̣̣̣̣ ﾐ)ﾉ

        ಠ ಠ

        (༎ຶ⌑༎ຶ)
      </div>
    </div>
  </main>




</ion-content>
