<div>
  <div class="relative mt-5 first:mt-0 last:mb-5">
    <div class="sticky bg-token-sidebar-surface-primary top-0 z-20"><span class="flex h-9 items-center"><h3
      class="px-2 text-xs font-semibold text-ellipsis overflow-hidden break-all pt-3 pb-2 text-token-text-primary">Today</h3></span>
    </div>
    <ol>
      <li class="relative z-[15]" data-testid="history-item-0">
        <div class="no-draggable group relative rounded-lg active:opacity-90 bg-token-sidebar-surface-secondary"><a
          class="flex items-center gap-2 p-2" data-discover="true" href="/c/66f9fa63-658c-800f-9576-6fff1ca742ae">
          <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[Chat-GPT] Window Width Adjustment
            <div
              class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-secondary w-10 from-60%"></div>
          </div>
        </a>
          <div class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 flex"><span class=""
                                                                                                           data-state="closed"><button
            aria-expanded="false"
            aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-0-options"
            id="radix-:rfg:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                           width="24" xmlns="http://www.w3.org/2000/svg"><path
            clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
            fill="currentColor"
            fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
      <li class="relative" data-testid="history-item-1">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true" href="/c/67273aee-6f38-800f-997f-af0c8fea9d17">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[Gmail] Show One Gmail Account
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-1-options"
              id="radix-:rfi:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
    </ol>
  </div>
  <div class="relative mt-5 first:mt-0 last:mb-5">
    <div class="sticky bg-token-sidebar-surface-primary top-0 z-20"><span class="flex h-9 items-center"><h3
      class="px-2 text-xs font-semibold text-ellipsis overflow-hidden break-all pt-3 pb-2 text-token-text-primary">Previous 7 Days</h3></span>
    </div>
    <ol>
      <li class="relative" data-testid="history-item-0">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true"
             href="/g/g-NgAcklHd8-scispace/c/9167c0d2-c98a-430d-ba50-b97c13b3aeef">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[Æ] SciSpace on Model Æther
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-0-options"
              id="radix-:rdu:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
    </ol>
  </div>
  <div class="relative mt-5 first:mt-0 last:mb-5">
    <div class="sticky bg-token-sidebar-surface-primary top-0 z-20"><span class="flex h-9 items-center"><h3
      class="px-2 text-xs font-semibold text-ellipsis overflow-hidden break-all pt-3 pb-2 text-token-text-primary">Previous 30 Days</h3></span>
    </div>
    <ol>
      <li class="relative" data-testid="history-item-0">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true"
             href="/g/g-3VrgJ1GpH-sous-chef/c/672222ff-9e2c-800f-b0f1-8d7f90424ec0">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[chef] Medium Rare Steak Request
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-0-options"
              id="radix-:ra7:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
      <li class="relative" data-testid="history-item-1">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true"
             href="/g/g-3VrgJ1GpH-sous-chef/c/67222009-a468-800f-b94e-2a84bfd05dc3">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[chef] Impressive Date Night Ideas
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-1-options"
              id="radix-:ra9:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
    </ol>
  </div>
  <div class="relative mt-5 first:mt-0 last:mb-5">
    <div class="sticky bg-token-sidebar-surface-primary top-0 z-20"><span class="flex h-9 items-center"><h3
      class="px-2 text-xs font-semibold text-ellipsis overflow-hidden break-all pt-3 pb-2 text-token-text-primary">October</h3></span>
    </div>
    <ol>
      <li class="relative" data-testid="history-item-0">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true" href="/c/66fa4ae3-28a8-800f-9323-60bf3d80d22f">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[Rider] Fixing RuntimeIdentifier
              Error
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-0-options"
              id="radix-:rm5:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
    </ol>
  </div>
  <div class="relative mt-5 first:mt-0 last:mb-5">
    <div class="sticky bg-token-sidebar-surface-primary top-0 z-20"><span class="flex h-9 items-center"><h3
      class="px-2 text-xs font-semibold text-ellipsis overflow-hidden break-all pt-3 pb-2 text-token-text-primary">September</h3></span>
    </div>
    <ol>
      <li class="relative" data-testid="history-item-0">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true" href="/c/66fa1ff7-c9c8-800f-be8e-0204b8e20a0f">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[Chat-GPT] Chat History Memory
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-0-options"
              id="radix-:rm8:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
    </ol>
  </div>
  <div class="relative mt-5 first:mt-0 last:mb-5">
    <div class="sticky bg-token-sidebar-surface-primary top-0 z-20"><span class="flex h-9 items-center"><h3
      class="px-2 text-xs font-semibold text-ellipsis overflow-hidden break-all pt-3 pb-2 text-token-text-primary">July</h3></span>
    </div>
    <ol>
      <li class="relative" data-testid="history-item-0">
        <div class="no-draggable group relative rounded-lg active:opacity-90 hover:bg-token-sidebar-surface-secondary">
          <a class="flex items-center gap-2 p-2" data-discover="true" href="/c/7129ecce-5472-401d-828f-99d71b3ab61c">
            <div class="relative grow overflow-hidden whitespace-nowrap" dir="auto">[IntelliJ] Hide .spec files
              IntelliJ?
              <div
                class="absolute bottom-0 top-0 to-transparent ltr:right-0 ltr:bg-gradient-to-l rtl:left-0 rtl:bg-gradient-to-r from-token-sidebar-surface-primary from-token-sidebar-surface-primary can-hover:group-hover:from-token-sidebar-surface-secondary w-8 from-0% can-hover:group-hover:w-10 can-hover:group-hover:from-60%"></div>
            </div>
          </a>
          <div
            class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 ltr:right-0 rtl:left-0 hidden can-hover:group-hover:flex">
            <span class="" data-state="closed"><button
              aria-expanded="false"
              aria-haspopup="menu" class="flex items-center justify-center text-token-text-secondary transition hover:text-token-text-primary radix-state-open:text-token-text-secondary" data-state="closed" data-testid="history-item-0-options"
              id="radix-:rnc:" type="button"><svg class="icon-md" fill="none" height="24" viewBox="0 0 24 24"
                                                             width="24" xmlns="http://www.w3.org/2000/svg"><path
              clip-rule="evenodd" d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
              fill="currentColor"
              fill-rule="evenodd"></path></svg></button></span></div>
        </div>
      </li>
    </ol>
  </div>
</div>
